# SPDX-FileCopyrightText: 2017-2022 Contributors to the OpenSTEF project <korte.termijn.prognoses@alliander.com>
#
# SPDX-License-Identifier: MPL-2.0

ciso8601~=2.3.0 # To speed up influxDB queries
geopy~=2.3.0
openstef~=3.2.67
influxdb-client~=1.36.1
mysql-connector-python~=8.0.31
PyMySQL~=1.0.2
PyYAML~=6.0
requests~=2.28.1
SQLAlchemy~=1.4.46
